/* thin horizontal scrollbar */
.maintable::-webkit-scrollbar {
  height: 5px; /* horizontal scrollbar height */
}

.maintable::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
}

.maintable::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.maintable::-webkit-scrollbar-thumb:hover {
  background-color: var(--lavender);
}

/* Firefox */
.maintable {
  scrollbar-width: thin; /* makes scrollbar thin */
  scrollbar-color: gray white; /* thumb color | track color */
}
