.timePicker {
  display: flex;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
   width: 200px;
   height: 180px;
   padding: 10px 10px;
  background-color: #f9f9f9;
}

.timeUnit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 30px;
  color: #757575;
  font-size: 16px;
}

.timeInput {
  width: 30px;
  text-align: center;
  border: none;
  outline: none;
  font-size: 16px;
  -moz-appearance: textfield; /* Firefox */
}

.timeInput::-webkit-outer-spin-button,
.timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.separator {
  margin: 0 8px;
  font-size: 16px;
  color: #333;
}

.ampmButton {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 8px;
}

.ampmButton:hover {
  background-color: #1976d2;
}
