@theme {
  --color-grayblue: #6B7A8F;  
  --color-aqua: #7FDBFF;
  --color-lavender: #E6E6FA;
    --color-polar-mist:#F4F6F6;
    --color-mint-cyan :#BFE5E4;
}

@import "tailwindcss";

@layer components {






 .btn-secondary {
    @apply   rounded-[14px] font-medium border  border-[#DCE4E8] text-[13px] sm:text-sm lg:text-base bg-white text-black 
             hover:bg-black hover:text-white  cursor-pointer 
             transition-colors duration-300 ease-in-out
}

.btn-primary {
    @apply    rounded-[14px] text-[13px] sm:text-sm lg:text-base font-medium bg-black text-white 
             hover:bg-gray-200 hover:text-black  cursor-pointer 
             transition-colors duration-300 ease-in-out;
  }



 

}